* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Noto Sans", sans-serif;
}

.justify_content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

/* MOBILE - NAV BAR */
@media screen and (max-width: 1101px) {
  nav {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    background-color: #ff5800;
    align-content: center;
  }
  nav a {
    text-decoration: none;
    color: black;
  }
  nav a a:hover {
    color: #00b0aa;
  }
  nav ul {
    justify-self: center;
    list-style: none;
    list-style: none;
    align-items: center;
  }
  nav ul li {
    font-size: 25px;
  }
  nav .div_button_navbar {
    justify-self: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-items: center;
    width: 80vw;
    padding-bottom: 20px;
  }
  nav .div_button_navbar button {
    background-color: white;
    border: none;
    color: #ff5800;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    height: 50px;
    font-weight: bolder;
    border-radius: 8px;
    width: 80vw;
  }
  /* MOBILE - FOOTER */
  footer {
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    justify-content: center;
    margin-top: 75px;
  }
  footer ul li {
    list-style: none;
    text-decoration: none;
    padding-top: 20px;
  }
  footer ul li img {
    width: 20px;
    height: auto;
  }
  footer .footer_text {
    color: white;
    text-decoration: none;
  }
}
/* DESKTOP - NAV BAR */
@media screen and (min-width: 1102px) {
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ff5800;
    height: 60px;
    position: sticky;
    width: 100%;
  }
  nav a {
    text-decoration: none;
    color: black;
  }
  nav a a:hover {
    color: #00b0aa;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin: 0px;
  }
  nav ul li {
    list-style: none;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
  }
  nav div button {
    background-color: white;
    border: none;
    color: #ff5800;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    height: 50px;
    font-weight: bolder;
    border-radius: 8px;
  }
  /* DESKTOP - FOOTER */
  footer {
    display: flex;
    justify-content: space-around;
    background-color: black;
  }
  footer ul li {
    list-style: none;
    text-decoration: none;
    padding-top: 20px;
  }
  footer ul li img {
    width: 20px;
    height: auto;
  }
  footer .footer_text {
    color: white;
    text-decoration: none;
  }
}
/* MOBILE - INDEX */
@media screen and (max-width: 1101px) {
  .index_titulo img {
    width: 100%;
    height: auto;
  }
  .index_titulo div {
    margin: 35px 0px;
    text-align: center;
    width: 80%;
    height: auto;
  }
  .index_titulo div h1 {
    position: absolute;
    text-align: center;
  }
  section .seccionprincipal img {
    display: block;
    margin-top: 130px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  section .seccionprincipal div p {
    font-size: 25px;
    font-weight: bold;
    margin-top: 100px;
    text-align: center;
  }
  section .seccionprincipal div button {
    background-color: #ff5800;
    border: 4px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-weight: bolder;
    font-size: 16px;
    margin-top: 75px;
    border-radius: 8px;
    justify-content: center;
    justify-self: center;
    width: 80vw;
  }
  section .index_tutoriales img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 75px;
  }
  section .index_tutoriales div p {
    font-size: 25px;
    font-weight: bold;
    margin-top: 100px;
    text-align: center;
  }
  section .index_tutoriales div button {
    background-color: #ff5800;
    border: 4px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-weight: bolder;
    font-size: 16px;
    margin-top: 75px;
    border-radius: 8px;
    justify-content: center;
    justify-self: center;
    width: 80vw;
  }
}
/* DESKTOP - INDEX */
@media screen and (min-width: 1102px) {
  .index_titulo img {
    width: 100%;
    height: auto;
  }
  .index_titulo div {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
  }
  .index_titulo div h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 140px;
  }
  section .seccionprincipal {
    display: flex;
    margin: 0px 50px 50px 50px;
    justify-content: space-evenly;
    align-items: center;
  }
  section .seccionprincipal div p {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    padding: 0px 20px 0px 20px;
  }
  section .seccionprincipal div button {
    background-color: #ff5800;
    border: 4px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-weight: bolder;
    font-size: 16px;
    margin-top: 150px;
    border-radius: 8px;
    justify-content: center;
  }
  section .index_tutoriales {
    display: flex;
    margin: 100px 50px 50px 50px;
    justify-content: space-evenly;
    align-items: center;
  }
  section .index_tutoriales div .texto1 {
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    padding: 0px 20px 0px 20px;
  }
  section .index_tutoriales div .button_index {
    background-color: #ff5800;
    border: 4px solid black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-weight: bolder;
    font-size: 16px;
    margin-top: 150px;
    border-radius: 8px;
    justify-content: center;
  }
  section .index_tutoriales img {
    width: 500px;
    height: auto;
  }
}
/* MOBILE - SOBRE NOSOTROS */
@media screen and (max-width: 1101px) {
  .div_h1_sobrenosotras {
    width: 100%;
    height: auto;
    justify-self: center;
  }
  .div_h1_sobrenosotras .h1_sobrenosotras {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .sobrenosotros_seccionprincipal {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .sobrenosotros_seccionprincipal div img {
    width: 100%;
    height: auto;
    order: 1;
    margin: auto;
    padding: 0px 65px 0px 65px;
  }
  .sobrenosotros_seccionprincipal div {
    order: -1;
    width: 100%;
    height: auto;
  }
  .sobrenosotros_seccionprincipal div h2 {
    text-align: center;
    justify-self: center;
    align-self: center;
    font-size: 45px;
    padding-bottom: 25px;
  }
  .sobrenosotros_seccionprincipal div p {
    text-align: center;
    justify-self: center;
    align-self: center;
    font-size: 40px;
  }
  .sobrenosotros_div_texto2 {
    text-align: center;
    justify-self: center;
    align-self: center;
    font-size: 40px;
    padding-top: 40px;
  }
  .sobrenosotros_div_texto2 p {
    justify-self: center;
    font-size: 19px;
    text-align: center;
  }
}
/* DESKTOP - SOBRE NOSOTROS */
@media screen and (min-width: 768px) {
  .div_h1_sobrenosotras {
    width: 100%;
    height: 100px;
    justify-self: center;
    align-items: center;
    padding-bottom: 130px;
  }
  .div_h1_sobrenosotras .h1_sobrenosotras {
    text-align: center;
    align-items: center;
    padding-top: 25px;
  }
  .sobrenosotros_seccionprincipal {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px 50px 50px 50px;
  }
  .sobrenosotros_seccionprincipal div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    justify-self: center;
  }
  .sobrenosotros_seccionprincipal div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 150px;
  }
  .sobrenosotros_seccionprincipal div h2 {
    justify-self: center;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    padding-bottom: 150px;
  }
  .sobrenosotros_seccionprincipal div p {
    justify-self: center;
    font-size: 19px;
    text-align: center;
  }
  .sobrenosotros_div_texto2 {
    width: 100%;
    height: auto;
    padding: 75px 75px 75px 75px;
    font-size: 23px;
    text-align: center;
  }
  .sobrenosotros_div_texto2 p {
    justify-self: center;
    font-size: 19px;
    text-align: center;
  }
}
/* MOBILE - CURSOS */
@media screen and (max-width: 1101px) {
  .div_h1_cursos {
    width: 100%;
    height: 100px;
    justify-self: center;
    align-items: center;
    padding-bottom: 50px;
  }
  .h1_cursos {
    text-align: center;
    align-items: center;
    padding-top: 25px;
  }
  .cards {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .card_title1 {
    width: 40%;
    height: auto;
    padding: 30px 0px;
    margin-top: 40px;
    margin-bottom: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
  .card_title2 {
    width: 40%;
    height: auto;
    padding: 30px 0px;
    margin-bottom: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
  .card_title3 {
    width: 40%;
    height: auto;
    padding: 30px 0px;
    margin-bottom: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
  .card_img {
    width: 40%;
    height: auto;
    margin-bottom: 20px;
  }
  .card_text1 {
    width: 50%;
    height: auto;
    padding: 10px 10px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .card_text2 {
    width: 50%;
    height: auto;
    padding: 10px 10px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .card_text3 {
    width: 50%;
    height: auto;
    padding: 10px 10px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .card_btn {
    background-color: #ff5800;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-weight: bolder;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    justify-content: center;
    place-items: center;
  }
  .card_button1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }
  .card_button2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }
  .card_button3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
  }
}
/* DESKTOP - CURSOS */
@media screen and (min-width: 768px) {
  .div_h1_cursos {
    width: 100%;
    height: auto;
    justify-self: center;
  }
  .h1_cursos {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 2fr repeat(2, 1fr);
    grid-column-gap: 55px;
    grid-row-gap: 20px;
    width: 80%;
    height: auto;
    margin: 50px auto;
  }
  .card_title1 {
    grid-area: 1/1/2/2;
  }
  .card_image1 {
    grid-area: 2/1/3/2;
  }
  .card_text1 {
    grid-area: 3/1/4/2;
  }
  .card_button1 {
    grid-area: 4/1/5/2;
  }
  .card_title2 {
    grid-area: 1/2/2/3;
  }
  .card_image2 {
    grid-area: 2/2/3/3;
  }
  .card_text2 {
    grid-area: 3/2/4/3;
  }
  .card_button2 {
    grid-area: 4/2/5/3;
  }
  .card_title3 {
    grid-area: 1/3/2/4;
  }
  .card_image3 {
    grid-area: 2/3/3/4;
  }
  .card_text3 {
    grid-area: 3/3/4/4;
  }
  .card_button3 {
    grid-area: 4/3/5/4;
  }
  .card_img {
    width: 80%;
    height: auto;
    margin: auto;
    display: block;
    margin: 0 auto;
  }
  .card_title1 {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
  .card_title2 {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
  .card_title3 {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
  .card_p {
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 125x;
    place-items: center;
  }
  .card_btn {
    background-color: #ff5800;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-weight: bolder;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    justify-content: center;
    place-items: center;
  }
  .card_button1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card_button2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card_button3 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/* MOBILE - CONTACTO */
@media screen and (max-width: 1101px) {
  .div_h1_contacto {
    width: 100%;
    height: 100px;
    justify-self: center;
    align-items: center;
    padding-bottom: 50px;
  }
  .div_h1_contacto h1 {
    text-align: center;
    align-items: center;
    padding-top: 25px;
  }
  .form_contacto {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    height: auto;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 75px;
    background-color: white;
    border: solid #ff5800;
    border-width: 8px;
    border-radius: 25px;
  }
  legend {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  input[type=text] {
    width: 85%;
    margin: auto;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ff5800;
    border-radius: 4px;
    background-color: #ff5800;
    color: white;
  }
  select {
    width: 100%;
    margin: auto;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #ff5800;
    color: white;
  }
  input[type=submit] {
    background-color: #ff5800;
    border: 1px #ff5800;
    border-radius: 8px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
  .form_div_sexo {
    padding-bottom: 50px;
    display: inline-block;
    margin: 100px 50px 100px 50px;
  }
  .form_div_nombre {
    padding-bottom: 50px;
    justify-content: space-around;
    justify-items: space-around;
  }
  .form_div_motivo {
    padding-bottom: 50px;
    display: inline-block;
    margin: 100px 50px 100px 50px;
  }
  .send_button {
    margin-top: 70px;
    padding: 15px 32px;
    font-size: 16px;
    height: 50px;
  }
}
/* DESKTOP - CONTACTO */
@media screen and (min-width: 768px) {
  .div_h1_contacto {
    width: 100%;
    height: 100px;
    justify-self: center;
    align-items: center;
    padding-bottom: 50px;
  }
  .div_h1_contacto h1 {
    text-align: center;
    align-items: center;
    padding-top: 25px;
  }
  .form_contacto {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    height: auto;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 75px;
    margin-bottom: 75px;
    background-color: white;
    border: solid #ff5800;
    border-width: 8px;
    border-radius: 25px;
  }
  legend {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ff5800;
    border-radius: 4px;
    background-color: #ff5800;
    color: white;
  }
  select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #ff5800;
    color: white;
  }
  input[type=submit] {
    background-color: #ff5800;
    border: 1px #ff5800;
    border-radius: 8px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
  .form_div_sexo {
    padding-bottom: 50px;
    display: inline-block;
    margin: 100px 50px 100px 50px;
  }
  .form_div_nombre {
    padding-bottom: 50px;
    justify-content: space-around;
    justify-items: space-around;
  }
  .form_div_motivo {
    padding-bottom: 50px;
    display: inline-block;
    margin: 100px 50px 100px 50px;
  }
  .send_button {
    margin-top: 70px;
    padding: 15px 32px;
    font-size: 16px;
    height: 50px;
  }
}
/* MOBILE - ESTILOS */
@media screen and (max-width: 1101px) {
  .div_h1_estilos {
    width: 100%;
    height: 100px;
    justify-self: center;
    align-items: center;
    padding-bottom: 50px;
  }
  .div_h1_estilos h1 {
    text-align: center;
    align-items: center;
    padding-top: 25px;
  }
  .section_estilos {
    justify-content: space-around;
    padding: 50px;
  }
  .section_estilos .estiloamericano {
    margin: 150x 20px 50px 20px;
    box-shadow: -1px -1px 60px 11px rgba(255, 88, 0, 0.86);
    -webkit-box-shadow: -1px -1px 60px 11px rgba(255, 88, 0, 0.86);
    -moz-box-shadow: -1px -1px 60px 11px rgba(255, 88, 0, 0.86);
  }
  .section_estilos .estiloamericano .estilos_div_h3 h3 {
    text-align: center;
  }
  .section_estilos .estiloamericano .estilos_div_img {
    margin: auto;
    width: 80%;
    height: auto;
  }
  .section_estilos .estiloamericano .estilos_div_img img {
    width: 100%;
    height: auto;
    margin: auto;
  }
  .section_estilos .estiloamericano .estilos_div_p {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 20px 30px 20px 30px;
  }
  .section_estilos {
    padding: 50px;
    justify-content: space-around;
  }
  .section_estilos .estilofrances {
    margin: 150x 20px 50px 20px;
    box-shadow: -1px -1px 60px 11px rgba(255, 88, 0, 0.86);
    -webkit-box-shadow: -1px -1px 60px 11px rgba(255, 88, 0, 0.86);
    -moz-box-shadow: -1px -1px 60px 11px rgba(255, 88, 0, 0.86);
  }
  .section_estilos .estilofrances .estilos_div_h3 h3 {
    text-align: center;
  }
  .section_estilos .estilofrances .estilos_div_img {
    margin: auto;
    width: 80%;
    height: auto;
  }
  .section_estilos .estilofrances .estilos_div_img img {
    width: 100%;
    height: auto;
    margin: auto;
  }
  .section_estilos .estilofrances .estilos_div_p {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 20px 30px 20px 30px;
  }
  .section_estilos {
    padding: 50px;
    justify-content: space-around;
  }
  .section_estilos .formica {
    margin: 150x 20px 50px 20px;
    box-shadow: -1px -1px 60px 11px rgba(255, 88, 0, 0.86);
    -webkit-box-shadow: -1px -1px 60px 11px rgba(255, 88, 0, 0.86);
    -moz-box-shadow: -1px -1px 60px 11px rgba(255, 88, 0, 0.86);
  }
  .section_estilos .formica .estilos_div_h3 h3 {
    text-align: center;
  }
  .section_estilos .formica .estilos_div_img {
    margin: auto;
    width: 80%;
    height: auto;
  }
  .section_estilos .formica .estilos_div_img img {
    width: 100%;
    height: auto;
    margin: auto;
  }
  .section_estilos .formica .estilos_div_p {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 20px 30px 20px 30px;
  }
  .section_estilos {
    padding: 50px;
    justify-content: space-around;
  }
  .section_estilos .chippendale {
    margin: 150x 20px 50px 20px;
    box-shadow: -1px -1px 60px 11px rgba(255, 88, 0, 0.86);
    -webkit-box-shadow: -1px -1px 60px 11px rgba(255, 88, 0, 0.86);
    -moz-box-shadow: -1px -1px 60px 11px rgba(255, 88, 0, 0.86);
  }
  .section_estilos .chippendale .estilos_div_h3 h3 {
    text-align: center;
  }
  .section_estilos .chippendale .estilos_div_img {
    margin: auto;
    width: 80%;
    height: auto;
  }
  .section_estilos .chippendale .estilos_div_img img {
    width: 100%;
    height: auto;
    margin: auto;
  }
  .section_estilos .chippendale .estilos_div_p {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 20px 30px 20px 30px;
  }
}
/* DESKTOP - ESTILOS */
@media screen and (min-width: 768px) {
  .div_h1_estilos {
    width: 100%;
    height: 100px;
    justify-self: center;
    align-items: center;
    padding-bottom: 130px;
  }
  .div_h1_estilos h1 {
    text-align: center;
    align-items: center;
    padding-top: 25px;
  }
  .section_estilos {
    padding: 50px;
    display: flex;
  }
  .section_estilos .estiloamericano {
    margin: 0px 20px;
    box-shadow: -1px -1px 60px 11px rgba(255, 88, 0, 0.86);
    -webkit-box-shadow: -1px -1px 60px 11px rgba(255, 88, 0, 0.86);
    -moz-box-shadow: -1px -1px 60px 11px rgba(255, 88, 0, 0.86);
  }
  .section_estilos .estiloamericano .estilos_div_h3 h3 {
    text-align: center;
  }
  .section_estilos .estiloamericano .estilos_div_img {
    margin: auto;
    width: 80%;
    height: auto;
  }
  .section_estilos .estiloamericano .estilos_div_img img {
    width: 100%;
    height: auto;
    margin: auto;
  }
  .section_estilos .estiloamericano .estilos_div_p {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 20px 30px 20px 30px;
  }
  .section_estilos {
    padding: 50px;
    display: flex;
  }
  .section_estilos .estilofrances {
    margin: 0px 20px;
    box-shadow: -1px -1px 60px 11px rgba(255, 88, 0, 0.86);
    -webkit-box-shadow: -1px -1px 60px 11px rgba(255, 88, 0, 0.86);
    -moz-box-shadow: -1px -1px 60px 11px rgba(255, 88, 0, 0.86);
  }
  .section_estilos .estilofrances .estilos_div_h3 h3 {
    text-align: center;
  }
  .section_estilos .estilofrances .estilos_div_img {
    margin: auto;
    width: 80%;
    height: auto;
  }
  .section_estilos .estilofrances .estilos_div_img img {
    width: 100%;
    height: auto;
    margin: auto;
  }
  .section_estilos .estilofrances .estilos_div_p {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 20px 30px 20px 30px;
  }
  .section_estilos {
    padding: 50px;
    display: flex;
  }
  .section_estilos .formica {
    margin: 0px 20px;
    box-shadow: -1px -1px 60px 11px rgba(255, 88, 0, 0.86);
    -webkit-box-shadow: -1px -1px 60px 11px rgba(255, 88, 0, 0.86);
    -moz-box-shadow: -1px -1px 60px 11px rgba(255, 88, 0, 0.86);
  }
  .section_estilos .formica .estilos_div_h3 h3 {
    text-align: center;
  }
  .section_estilos .formica .estilos_div_img {
    margin: auto;
    width: 80%;
    height: auto;
  }
  .section_estilos .formica .estilos_div_img img {
    width: 100%;
    height: auto;
    margin: auto;
  }
  .section_estilos .formica .estilos_div_p {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 20px 30px 20px 30px;
  }
  .section_estilos {
    padding: 50px;
    display: flex;
  }
  .section_estilos .chippendale {
    margin: 0px 20px;
    box-shadow: -1px -1px 60px 11px rgba(255, 88, 0, 0.86);
    -webkit-box-shadow: -1px -1px 60px 11px rgba(255, 88, 0, 0.86);
    -moz-box-shadow: -1px -1px 60px 11px rgba(255, 88, 0, 0.86);
  }
  .section_estilos .chippendale .estilos_div_h3 h3 {
    text-align: center;
  }
  .section_estilos .chippendale .estilos_div_img {
    margin: auto;
    width: 80%;
    height: auto;
  }
  .section_estilos .chippendale .estilos_div_img img {
    width: 100%;
    height: auto;
    margin: auto;
  }
  .section_estilos .chippendale .estilos_div_p {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 20px 30px 20px 30px;
  }
}

/*# sourceMappingURL=style.css.map */
