@use './variables';
$almacenOrange: #ff5800;

/* MOBILE - INDEX */

@media screen and (max-width: 1101px) {

.index_titulo {
    img {
        width: 100%;
        height: auto;
    }
    div {
        margin: 35px 0px;
        text-align: center;
        width: 80%;
        height: auto;
        h1 {
            position: relative;
            text-align: center;
        }
    }
}

.fotoprincipal {
    position: absolute;
}

section {
    .seccionprincipal {
        img {
            display: block;
            margin-top: 130px;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
        }
        div {
            p {
                font-size: 25px;
                font-weight: bold;
                margin-top: 100px;
                text-align: center;
            }
            button {
                background-color: $almacenOrange;
                border: 4px solid black;
                color: white;
                padding: 15px 32px;
                text-align: center;
                font-weight: bolder;
                font-size: 16px;
                margin-top: 75px;
                border-radius: 8px;
                justify-content: center;
                justify-self: center;
                width: 80vw;
            }
        }
    }
}

section {
    .index_tutoriales {
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 80%;
            margin-top: 75px;
        }
        div {
            p {
                font-size: 25px;
                font-weight: bold;
                margin-top: 100px;
                text-align: center;
            }
            button {
                background-color: $almacenOrange;
                border: 4px solid black;
                color: white;
                padding: 15px 32px;
                text-align: center;
                font-weight: bolder;
                font-size: 16px;
                margin-top: 75px;
                border-radius: 8px;
                justify-content: center;
                justify-self: center;
                width: 80vw;
            }
        }
    }
}

}

/* DESKTOP - INDEX */

@media screen and (min-width: 1102px) {

.index_titulo {
    img {
        width: 100%;
        height: auto;
    }
    div {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 100px;
        h1 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 140px;
        }
    }
}

section {
    .seccionprincipal {
        display: flex;
        margin: 0px 50px 50px 50px;
        justify-content: space-evenly;
        align-items: center;
        div {
            p {
                display: flex;
                justify-content: space-around;
                font-size: 30px;
                padding: 0px 20px 0px 20px;
            }
            button {
                background-color: $almacenOrange;
                border: 4px solid black;
                color: white;
                padding: 15px 32px;
                text-align: center;
                font-weight: bolder;
                font-size: 16px;
                margin-top: 150px;
                border-radius: 8px;
                justify-content: center;
            }
        }
    }
}

section {
    .index_tutoriales {
        display: flex;
        margin: 100px 50px 50px 50px;
        justify-content: space-evenly;
        align-items: center;
        div {
            .texto1 {
                display: flex;
                justify-content: space-around;
                font-size: 30px;
                padding: 0px 20px 0px 20px;
            }
            .button_index {
                background-color: $almacenOrange;
                border: 4px solid black;
                color: white;
                padding: 15px 32px;
                text-align: center;
                font-weight: bolder;
                font-size: 16px;
                margin-top: 150px;
                border-radius: 8px;
                justify-content: center;
            }
        }
        img {
            width: 500px;
            height: auto;
        }
    }
}

}