@use './variables';
$almacenOrange: #ff5800;

/* MOBILE - ESTILOS */

@media screen and (max-width: 1101px) {

.div_h1_estilos {
    width: 100%;
    height: 100px;
    justify-self: center;
    align-items: center;
    padding-bottom: 50px;
    h1 {
        text-align: center;
        align-items: center;
        padding-top: 25px;
    }
}

.section_estilos {
    justify-content: space-around;
    padding: 50px;
    .estiloamericano {
        margin: 150x 20px 50px 20px;
        box-shadow: -1px -1px 60px 11px rgba(255,88,0,0.86);
    -webkit-box-shadow: -1px -1px 60px 11px rgba(255,88,0,0.86);
    -moz-box-shadow: -1px -1px 60px 11px rgba(255,88,0,0.86);
        .estilos_div_h3 {
            h3 {
                text-align: center;
            }
        }
        .estilos_div_img {
            margin: auto;
            width:80%;
            height: auto;
            img {
                width: 100%;
                height: auto;
                margin: auto;
            }
        }
        .estilos_div_p {
            width: 100%;
            height: auto;
            text-align: center;
            padding: 20px 30px 20px 30px;
        }
    }
}

.section_estilos {
    padding: 50px;
    justify-content: space-around;
    .estilofrances {
        margin: 150x 20px 50px 20px;
        box-shadow: -1px -1px 60px 11px rgba(255,88,0,0.86);
    -webkit-box-shadow: -1px -1px 60px 11px rgba(255,88,0,0.86);
    -moz-box-shadow: -1px -1px 60px 11px rgba(255,88,0,0.86);
        .estilos_div_h3 {
            h3 {
                text-align: center;
            }
        }
        .estilos_div_img {
            margin: auto;
            width:80%;
            height: auto;
            img {
                width: 100%;
                height: auto;
                margin: auto;
            }
        }
        .estilos_div_p {
            width: 100%;
            height: auto;
            text-align: center;
            padding: 20px 30px 20px 30px;
        }
    }
}

.section_estilos {
    padding: 50px;
    justify-content: space-around;
    .formica {
        margin: 150x 20px 50px 20px;
        box-shadow: -1px -1px 60px 11px rgba(255,88,0,0.86);
    -webkit-box-shadow: -1px -1px 60px 11px rgba(255,88,0,0.86);
    -moz-box-shadow: -1px -1px 60px 11px rgba(255,88,0,0.86);
        .estilos_div_h3 {
            h3 {
                text-align: center;
            }
        }
        .estilos_div_img {
            margin: auto;
            width:80%;
            height: auto;
            img {
                width: 100%;
                height: auto;
                margin: auto;
            }
        }
        .estilos_div_p {
            width: 100%;
            height: auto;
            text-align: center;
            padding: 20px 30px 20px 30px;
        }
    }
}

.section_estilos {
    padding: 50px;
    justify-content: space-around;
    .chippendale {
        margin: 150x 20px 50px 20px;
        box-shadow: -1px -1px 60px 11px rgba(255,88,0,0.86);
    -webkit-box-shadow: -1px -1px 60px 11px rgba(255,88,0,0.86);
    -moz-box-shadow: -1px -1px 60px 11px rgba(255,88,0,0.86);
        .estilos_div_h3 {
            h3 {
                text-align: center;
            }
        }
        .estilos_div_img {
            margin: auto;
            width:80%;
            height: auto;
            img {
                width: 100%;
                height: auto;
                margin: auto;
            }
        }
        .estilos_div_p {
            width: 100%;
            height: auto;
            text-align: center;
            padding: 20px 30px 20px 30px;
        }
    }
}

}

/* DESKTOP - ESTILOS */

@media screen and (min-width: 768px) {

.div_h1_estilos {
    width: 100%;
    height: 100px;
    justify-self: center;
    align-items: center;
    padding-bottom: 130px;
    h1 {
        text-align: center;
        align-items: center;
        padding-top: 25px;
    }
}

.section_estilos {
    padding: 50px;
    display: flex;
    .estiloamericano {
        margin: 0px 20px;
        box-shadow: -1px -1px 60px 11px rgba(255,88,0,0.86);
    -webkit-box-shadow: -1px -1px 60px 11px rgba(255,88,0,0.86);
    -moz-box-shadow: -1px -1px 60px 11px rgba(255,88,0,0.86);
        .estilos_div_h3 {
            h3 {
                text-align: center;
            }
        }
        .estilos_div_img {
            margin: auto;
            width:80%;
            height: auto;
            img {
                width: 100%;
                height: auto;
                margin: auto;
            }
        }
        .estilos_div_p {
            width: 100%;
            height: auto;
            text-align: center;
            padding: 20px 30px 20px 30px;
        }
    }
}

.section_estilos {
    padding: 50px;
    display: flex;
    .estilofrances {
        margin: 0px 20px;
        box-shadow: -1px -1px 60px 11px rgba(255,88,0,0.86);
    -webkit-box-shadow: -1px -1px 60px 11px rgba(255,88,0,0.86);
    -moz-box-shadow: -1px -1px 60px 11px rgba(255,88,0,0.86);
        .estilos_div_h3 {
            h3 {
                text-align: center;
            }
        }
        .estilos_div_img {
            margin: auto;
            width:80%;
            height: auto;
            img {
                width: 100%;
                height: auto;
                margin: auto;
            }
        }
        .estilos_div_p {
            width: 100%;
            height: auto;
            text-align: center;
            padding: 20px 30px 20px 30px;
        }
    }
}

.section_estilos {
    padding: 50px;
    display: flex;
    .formica {
        margin: 0px 20px;
        box-shadow: -1px -1px 60px 11px rgba(255,88,0,0.86);
    -webkit-box-shadow: -1px -1px 60px 11px rgba(255,88,0,0.86);
    -moz-box-shadow: -1px -1px 60px 11px rgba(255,88,0,0.86);
        .estilos_div_h3 {
            h3 {
                text-align: center;
            }
        }
        .estilos_div_img {
            margin: auto;
            width:80%;
            height: auto;
            img {
                width: 100%;
                height: auto;
                margin: auto;
            }
        }
        .estilos_div_p {
            width: 100%;
            height: auto;
            text-align: center;
            padding: 20px 30px 20px 30px;
        }
    }
}

.section_estilos {
    padding: 50px;
    display: flex;
    .chippendale {
        margin: 0px 20px;
        box-shadow: -1px -1px 60px 11px rgba(255,88,0,0.86);
    -webkit-box-shadow: -1px -1px 60px 11px rgba(255,88,0,0.86);
    -moz-box-shadow: -1px -1px 60px 11px rgba(255,88,0,0.86);
        .estilos_div_h3 {
            h3 {
                text-align: center;
            }
        }
        .estilos_div_img {
            margin: auto;
            width:80%;
            height: auto;
            img {
                width: 100%;
                height: auto;
                margin: auto;
            }
        }
        .estilos_div_p {
            width: 100%;
            height: auto;
            text-align: center;
            padding: 20px 30px 20px 30px;
        }
    }
}

}